body {
    background: #0e6691 url(/static/img/body_bg_light.jpg) repeat left top;
    font-family: Verdana, sans-serif;
    margin: 0;
}

#big-window {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 797px;
}

.top-data {
    background: url('/static/img/big_window_head.png') no-repeat left top;
    height: 54px;
}

.flag {
    float: left;
    margin-left: 20px;
    background: url('/static/img/window_flag.png') no-repeat;
    width: 76px;
    height: 101px;
    margin-top: -14px;
}

.flag .logo-frame {
    border: 2px solid #ffffff;
    width: 44px;
    height: 44px;
    border-radius: 8px;
    margin-top: 14px;
    margin-left: 14px;
}

.flag .logo-frame img {
    width: 48px;
    height: 48px;
    margin-left: -2px;
    margin-top: -2px;
}

.top-data h1 {
    font-family: Verdana, sans-serif;
    font-size: 24px;
    color: white;
    margin-left: 20px;
    margin-top: 10px;
    float: left;
}

.top-data h1 a {
    text-decoration: none;
    color: #ffffff;
}

.inner-data {
    font-family: Verdana, sans-serif;
    font-size: 14px;
    background-color: #c7eafd;
    padding: 30px 20px 20px 20px;
    border-right: #115f73 solid 2px;
    border-left: #115f73 solid 2px;
    min-height: 200px;
}

.bottom-data {
    background: url('/static/img/big_window_bottom.png') no-repeat left top;
    height: 12px;
}

#right-panel .for_info_only {
    display: none;
}

.inner-data .for_editor_only {
    display: none;
}

.error-trace,
.error-message {
    color: red;
}

.error-trace {
    white-space: pre-wrap;
}

.head-links {
    float: right;
    margin-top: 14px;
}

.head-links a {
    font-family: Verdana;
    font-size: 20px;
    color: #ffffff;
    padding-right: 20px;

    text-decoration: none;
}

.head-links a:hover {
    color: #294270;
}

.switch {
    background-color: #d3e1f1;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dfe9f5), color-stop(100%, #d3e1f1));
    background-image: -moz-linear-gradient(top, #dfe9f5, #d3e1f1);
    background-image: linear-gradient(top, #dfe9f5, #d3e1f1);
    /*position: absolute;*/
    height: 25px;
    font-size: 18px;
    color: #294270;
    text-align: center;
    border: #99bce8 1px solid;
}

.switch a {
    text-decoration: none;
}

/*.switch-category {*/
/*top: 0;*/

/*}*/

.switch-tests {
    top: 26px;
}

.x-panel-body {
    border: #294270 1px solid;
    min-height: 128px;
}

.tryit-returned {
    width: 400px;
    height: 100px;
    margin: 20px auto 20px auto;
    text-align: center;
    background-color: #c7eafd;
    font-size: 12px;
    padding: 5px;
    border: #294270 solid 1px;
}

.tryit-returned input {
    font-family: Verdana, serif;
    font-size: 16px;
    margin: 10px;
    text-align: center;
}

#editor {
    float: left;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: #99bce8 solid 2px;
}

#right-panel {
    background-color: #dfe8f7;
    float: left;
    border-left: #9ebed7 6px solid;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
}

#editor-description {
    overflow: auto;
    padding: 10px;
    padding-left: 16px;
    background-color: #dfe8f7;
}

#bottom-panel {
    float: left;
    background-color: #ffffff;
}

.panel-header {
    background: #cbddf3 -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dae7f6), color-stop(45%, #cddef3), color-stop(46%, #abc7ec), color-stop(50%, #abc7ec), color-stop(51%, #b8cfee), color-stop(100%, #cbddf3));
    box-sizing: border-box;
    padding: 5px;
    color: #04408c;
    font-size: 11px;
    font-weight: bold;
    font-family: tahoma, arial, verdana, sans-serif;
    line-height: 15px;
    border: 1px solid #99bce8;
    margin-left: -2px;
    height: 30px;
}

.topmenu-bar,
.bottom-bar {
    background-color: #d3e1f1;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dfe9f5), color-stop(100%, #d3e1f1));
    width: 100%;
    box-sizing: border-box;
    border: #99bce8 solid 1px;
    padding: 2px;
    font-family: tahoma, arial, verdana, sans-serif;
    height: 30px;
}

.bottom-bar {
    display: inline-block;
}

.topmenu-bar ul {
    list-style: none;
    margin: 0;
    padding-left: 20px;
}

.topmenu-bar ul li {
    display: inline;
    padding: 2px 10px 2px 0px;
    font-size: 12px;
    font-family: tahoma, arial, verdana, sans-serif;

}

#tryit-panel {
    float: left;
    background-color: #d3e1f1;
    float: right;
    box-sizing: border-box;
    border: #99bce8 solid 1px;
}

.tryit_results {
    overflow: auto;
}

.animation_results {
    overflow: auto;
}

.story {
    font-style: italic;
    font-size: 13px;
    margin-bottom: 30px;
}