<!doctype html>
<html lang="ru-RU">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Default Page Title</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link rel="stylesheet" type="text/css" href="/static/shCoreDefault.css">
    <script type="text/javascript" src="/static/shCore.js"></script>
    <script type="text/javascript" src="/static/shBrushPython.js"></script>

</head>

<body>
<div id="content">
    <div id="big-window">
        <div class="top-data">
            <div class="flag">
                <div class="logo-frame">
                    <img id="task-icon" class="disabled-icon" src="/logo/enabled.svg">
                </div>
            </div>
            <h1><a href="/">{{ task_name }}</a></h1>
            <div class="head-links">
                <a href="/explanation">Tests</a>
            </div>
            <div class="head-links">
                <a href="/tryit">Tryit</a>
            </div>
        </div>
        <div class="inner-data">
            {{ description|safe }}
        </div>
        <div class="bottom-data">

        </div>
    </div>

</div>

<script type="text/javascript">
    //noinspection JSUnresolvedVariable
    SyntaxHighlighter.all();
</script>
</body>
</html>