{% extends "base.html" %}

{% block inner_data %}
<div class="animation_results x-panel-body" style="width: {{ width }}px;margin-left: auto;margin-right: auto;position: relative;">
    <div class="switch switch-category">
        <span style="float: left"><a href="/explanation/{{ prev_category }}/1"> &lt;</a></span>
        {{ category }}
        <span style="float: right"><a href="/explanation/{{ next_category }}/1"> &gt;</a></span>
    </div>
    <div class="switch switch-tests">
        <span style="float: left"><a href="/explanation/{{ category }}/{{ prev }}"> &lt;</a></span>
        {{ number }}/{{ quantity }}
        <span style="float: right"><a href="/explanation/{{ category }}/{{ next }}"> &gt;</a></span>
    </div>
    {{ animation_content|safe }}

</div>
<script type="text/javascript" src="/static-local/animation_mock.js"></script>
<script type="text/javascript">
    $("#inner-data").css("background-color", "#ffffff");
</script>
<script type="text/javascript">
    var fakeData = {
        "ext": {{ test_data|tojson|safe }},
        "referee": {{ test_data.input|tojson|safe }},
        "req": {{ user_answer|tojson|safe }}
    };
</script>
<link rel="stylesheet" type="text/css" href="/media/animation.css">
<script type="text/javascript" src="/media/animation.js"></script>
{% endblock inner_data %}